{% extends "base.html" %}
{% block title %}Admin panel{% endblock %}
{% block content %}
<div class="alert alert-danger hidden"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>SMTP Server Settings</h2>
            <form id="smtpServerSettings">
                <label for="smtpServer">Host name or IP address</label>
                <div class="input-group mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="smtpServer" name="smtpServer" value="{{ smtp_server.value }}" >
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <p class="form-text text-muted">Port 25 is used by default.</p>
                </div>
            </form>
        </div>
        <div class="col">
            <h2>Send test email</h2>
            <form id="sendTestEmail">
                <label for="to">To</label>
                <div class="input-group mb-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="to" name="to" value="">
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="message" name="message" value="Test message sent by {% raw %}{{session['username']}}{% endraw %}">
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="verifyOtp" tabindex="-1" role="dialog" aria-labelledby="verifyOtpLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verifyOtpLabel">Verify OTP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/smtp.js') }}"></script>
{% endblock %}