body {
    background-color: #e6e6e6;
}

form {
    text-align: center;
}

input {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    font-size: 1.5em;
}

input[type="text"] {
    width: 50%;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 1em;
}